<img src="https://abseiler.heroku.com/github/icon.png" class="provider-logo"/>
<p>
  <strong>Github - Secure source code hosting and collaborative development</strong>
</p>

<p>
  This Github Raplet shows some basic statistics from your contacts' Github Profiles as well as a link to them.
</p>
